<mat-toolbar color="primary">
  <button (click)="home()" mat-icon-button aria-label="menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>JSON Schema Custom component</span>
  <span class="spacer"></span>
  <button (click)="code()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>code</mat-icon>
  </button>
</mat-toolbar>

<div class="container is-fluid">
  <section class="block mt-5">
    <router-outlet></router-outlet>
  </section>
</div>
