<h1>JSON schema form generation sandbox</h1>
<div class="columns">
  <div class="column">
    <ngx-json-viewer
      *ngIf="jsonSchema"
      [json]="jsonSchema"
      [expanded]="true"
    ></ngx-json-viewer>
  </div>
  <div class="column">
    <div *ngIf="jsf.formGroup">
      <div class="columns">
        <app-traffic-light class="column" [condition]="jsf.formGroup.pristine"
          >Pristine</app-traffic-light
        >
        <app-traffic-light class="column" [condition]="jsf.formGroup.dirty"
          >Dirty</app-traffic-light
        >
      </div>
    </div>
    <json-schema-form
      *ngIf="jsonSchema"
      loadExternalAssets="false"
      [form]="jsonSchema"
      framework="material-design"
      (onSubmit)="onSubmit($event)"
      (onChanges)="log('onChanges', $event)"
      (isValid)="log('isValid', $event)"
      (validationErrors)="log('validationErrors', $event)"
    >
    </json-schema-form>
  </div>
  <div class="column">
    <ngx-json-viewer
      *ngIf="output"
      [json]="output"
      [expanded]="true"
    ></ngx-json-viewer>
  </div>
</div>
